@use "./variables.scss" as v;
@use "./mixins.scss" as m;

.header {
    background-color: v.$color-white;
    border-radius: v.$border-radius-s;
    display: flex;
    justify-content: space-between;
    height: 39px;
    position: relative;
    align-items: center;
    padding: 0px 3px 0px 9px;
}

.header__mobile-menu-button {
    position: relative;
    display: flex;
    width: 24px;
    height: 24px;
    flex-direction: column;
    justify-content: space-between;
    padding: 4px 0;
    cursor: pointer;
}

.header__mobile-menu {
    @include m.text-style(sm);
    @include m.box-shadow;
    position: absolute;
    display: none;
    z-index: 1;
    left: 34px;
    background-color: v.$color-white;
    border-radius: v.$border-radius-m;
    width: 267px;
    padding: 50px 0 40px;
}

.header__mobile-menu.open {
    display: block;
}

.header__mobile-menu-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header__mobile-close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    border-radius: 50%;
    background-color: v.$color-base;
    width: 35px;
    height: 35px;
    align-items: center;
    justify-content: center;
}

.header__mobile-link {
    padding: 0 40px;
    color: v.$color-black;
    display: block;
    transition: color .3s;
}

.header__mobile-link:hover {
    color: v.$color-base;
}

.line {
    width: 18px;
    height: 2px;
    background-color: black;
    margin: 0 auto;
}

.header-links {
    display: none;
    // display: flex;
    align-items: center;
    gap: 40px;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-link {
    @include m.text-style(sm);
    @include m.text-uppercase;
    color: v.$color-black;
    text-decoration: none;

    &:hover {
        color: v.$color-base;
    }
}

.header-logo {
    width: 100px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: v.$border-radius-s;
    background-color: v.$color-white;
}

.header-logo-image {
    width: 79px;
    height: auto;
}

.header-right-nav {
    display: flex;
    align-items: center;
}

.heder-right-links {
    margin-right: 44px;
}

.download-button {
    display: block;
    @include m.text-style(3xs);
    @include m.text-uppercase;
    padding: 12px 6px;
    background-color: v.$color-base;
    color: v.$color-white;
    border-radius: v.$border-radius-s;
}

@include m.respond-max(v.$breakpoint-tablet) {

    .header {
        padding: 0 3px 0 16px;
        height: 60px;
    }

    .header-logo {
        width: 200px;
        height: 90px;
    }

    .header-logo-image {
        width: 167px;
    }

    .download-button {
        @include m.text-style(sm);
        padding: 10px 16px;
    }

}

@include m.respond-max(v.$breakpoint-desktop) {

    .header {
        padding: 0 3px 0 52px;
    }

    .header-links {
        display: flex;
    }

    .header__mobile-menu-container {
        display: none;
    }


}