@use "./variables.scss" as v;
@use "./mixins.scss" as m;

.about {
    background-color: v.$color-white;
    padding: 132px 16px;
}

.about__title {
    @include m.text-style(base);
    @include m.text-uppercase;
    color: v.$color-black;
    text-align: center;
    margin-bottom: 19px;
}

.about__subtitle {
    @include m.text-style(xs);
    color: v.$color-gray;
    text-align: center;
    margin: 0 auto 58px auto;
    max-width: 600px;
}

.about__content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.about__image {
    width: 386px;
    height: auto;
}

.about__features {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.about__feature {
    @include m.box-shadow;
    width: 100%;
    border-radius: v.$border-radius-m;
    padding: 16px 20px;
}

.about__feature-header {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.about__feature-icon {
    margin-right: 17px;
}

.about__feature-title {
    @include m.text-style(sm);
    @include m.text-uppercase;
    color: v.$color-black;
    position: relative;
    top: 3px;
}

.about__feature-description {
    @include m.text-style(xs);
    color: v.$color-gray;
    padding-left: 41px;
}

@include m.respond-max(v.$breakpoint-tablet) {

    .about {
        padding: 120px 40px;
    }

    .about__title {
        @include m.text-style(md);
        margin-bottom: 19px;
    }

    .about__content {
        flex-direction: row;
    }

    .about__image {
        width: auto;
        min-width: 238px;
    }

    .about__feature {
        width: 391px;
        padding: 27px 19px 16px 18px;
    }

    .about__feature-header {
        margin-bottom: 15px;
    }


}

@include m.respond-max(v.$breakpoint-desktop) {

    .about {
     padding: 120px 134px;
    }

    .about__image {
        width: 386px;
        min-width: auto;
    }

    .about__feature {
        width: 570px;
        padding: 27px 19px 16px 18px;
    }
}