@use "./variables.scss" as v;
@use "./mixins.scss" as m;

.feedback {
    @include m.bg-image;
    color: v.$color-white;
}

.feedback__header {
    padding: 60px 30px 0;
}

.feedback__title {
    @include m.text-style(base);
    @include m.text-uppercase;
    margin-bottom: 18px;
    text-align: center;
}

.feedback__text {
    @include m.text-style(xs);
    margin: 0 auto 33px;
    text-align: center;
}

.feedback__carousel {
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 60px;
    width: 100%;
}

.feedback__carousel-track {
    display: flex;
    margin-bottom: 40px;
    position: relative;
    transition: transform 0.5s ease;
}

.slide {
    @include m.box-shadow;
    align-items: center;
    background-color: v.$color-white;
    border-radius: v.$border-radius-m;
    display: flex;
    flex-direction: column;
    min-width: calc(100% - 60px);
    padding: 20px 8px;
    position: relative;
    transition: transform 0.5s ease, opacity 0.5s ease, scale 0.5s ease, z-index 0.5s ease;
}

.slide.active {
    z-index: 1;
}

.slide__img {
    border-radius: 50%;
    height: 50px;
    margin-bottom: 12px;
    width: 50px;
}

.slide__title {
    @include m.text-style(base);
    @include m.text-uppercase;
    color: v.$color-black;
}

.slide__position {
    @include m.text-style(xs);
    @include m.text-uppercase;
    color: v.$color-black;
    margin-bottom: 18px;
}

.slide__text {
    @include m.text-style(xs);
    color: v.$color-gray;
    text-align: center;
}

.previous,
.next {
    cursor: pointer;
    opacity: 0.9;
    scale: 0.95;
}

.previous {
    transform: translateX(50%);
}

.next {
    transform: translateX(-50%);
}

.feedback__carousel-dots-container {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.feedback__carousel-dot {
    background-color: v.$color-white;
    border-radius: 50%;
    height: 16px;
    position: relative;
    width: 16px;
}

.feedback__carousel-dot.active::before {
    background-color: transparent;
    border: 1px solid v.$color-white;
    border-radius: 50%;
    box-sizing: border-box;
    content: " ";
    height: 20px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
}

@include m.respond-max(v.$breakpoint-tablet) {

    .feedback__header {
        padding: 120px 40px 0;
    }

    .feedback__title {
        @include m.text-style(md);
    }

    .feedback__text {
        margin-bottom: 40px;
        max-width: 450px;
    }

    .feedback__carousel {
        padding-bottom: 120px;
        width: 688px;
    }

    .feedback__carousel-track {
        margin-bottom: 60px;
    }

    .slide {
        min-width: 450px;
        padding: 23px 37px;
    }
}

@include m.respond-max(v.$breakpoint-desktop) {

    .feedback__title {
        margin-bottom: 23px;
    }

    .feedback__text {
        margin-bottom: 60px;
        max-width: 600px;
    }

    .feedback__carousel {
        width: 1170px;
    }

    .slide {
        min-width: 770px;
        padding: 40px 60px;
    }

    .slide__title {
        @include m.text-style(md);
    }

    .slide__position {
        @include m.text-style(sm);
        margin-bottom: 8px;
    }

    .slide__img {
        height: 96px;
        width: 96px;
    }
}