<header class="header">
    <div class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <ul class="header-links">
        <li>
            <a class="header-link" href="">Home</a>
        </li>
        <li>
            <a class="header-link" href="">About</a>
        </li>
        <li>
            <a class="header-link" href="">Features</a>
        </li>
    </ul>
    <div class="header-logo">
        <img class="header-logo-image" src="src/assets/images/logo.png" alt="Logo">
    </div>
    <div class="header-right-nav">
        <ul class="header-links heder-right-links">
            <li>
                <a class="header-link" href="">Screenshot</a>
            </li>
            <li>
                <a class="header-link" href="">Blog</a>
            </li>
        </ul>
        <button class="download-button">
            Download
        </button>

    </div>
</header>