<header class="header">
    <div class="header__mobile-menu-container">
        <div class="header__mobile-menu-button">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <div class="header__mobile-menu">
            <button class="header__mobile-close-button">
                <img class="header__mobile-close-icon" src="src/assets/svg-icons/cross.svg" alt="Close">
            </button>
            <ul class="header__mobile-menu-links">
                <li>
                    <a class="header__mobile-link" href="">Home</a>
                </li>
                <li>
                    <a class="header__mobile-link" href="">About</a>
                </li>
                <li>
                    <a class="header__mobile-link" href="">Features</a>
                </li>
                <li>
                    <a class="header__mobile-link" href="">Screenshot</a>
                </li>
                <li>
                    <a class="header__mobile-link" href="">Blog</a>
                </li>
            </ul>
        </div>
    </div>
    <ul class="header-links">
        <li>
            <a class="header-link" href="">Home</a>
        </li>
        <li>
            <a class="header-link" href="">About</a>
        </li>
        <li>
            <a class="header-link" href="">Features</a>
        </li>
    </ul>
    <div class="header-logo">
        <img class="header-logo-image" src="src/assets/images/logo.png" alt="Logo">
    </div>
    <div class="header-right-nav">
        <ul class="header-links heder-right-links">
            <li>
                <a class="header-link" href="">Screenshot</a>
            </li>
            <li>
                <a class="header-link" href="">Blog</a>
            </li>
        </ul>
        <button class="download-button">
            Download
        </button>

    </div>
</header>