<section class="hero">
    <div class="container-max">
        <div class="hero__topbar">
            <div class="hero__contacts">
                <div class="hero__contact hero__contact--email">
                    <img class="hero__contact-icon" src="src/assets/svg-icons/mail.svg" alt="Email icon">
                    <span class="hero__contact-text">Info@youremail.com</span>
                </div>
                <div class="hero__contact hero__contact--phone">
                    <img class="hero__contact-icon" src="src/assets/svg-icons/phone.svg" alt="Phone icon">
                    <span class="hero__contact-text">(480) 555-0103</span>
                </div>
            </div>
            <ul class="hero__socials">
                <li class="hero__socials-item">
                    <a href="#" class="hero__socials-link">
                        <img src="src/assets/svg-icons/facebook.svg" alt="Facebook">
                    </a>
                </li>
                <li class="hero__socials-item">
                    <a href="#" class="hero__socials-link">
                        <img src="src/assets/svg-icons/instagram.svg" alt="Instagram">
                    </a>
                </li>
                <li class="hero__socials-item">
                    <a href="#" class="hero__socials-link">
                        <img src="src/assets/svg-icons/twitter.svg" alt="Twitter">
                    </a>
                </li>
                <li class="hero__socials-item">
                    <a href="#" class="hero__socials-link">
                        <img src="src/assets/svg-icons/youtube.svg" alt="YouTube">
                    </a>
                </li>
            </ul>
        </div>
        {{> header}}
        <div class="hero__body">
            <div class="hero__content-box">
                <div class="hero__content">
                    <h2 class="hero__title">
                        A Great App Makes<br>
                        Your Life Better
                    </h2>
                    <p class="hero__description">
                        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
                        consequat duis enim velit mollit.
                        <span class="hero__description-highlight">
                            Exercitation veniam consequat sunt nostrud amet.
                        </span>
                    </p>
                    <p class="hero__download-label">DOWNLOAD APP NOW</p>
                    <div class="hero__store-buttons">
                        <a class="hero__store-button hero__store-button--play" href="#">
                            <img src="src/assets/images/play-market-btn.png" class="hero__store-button-img" alt="Play Market">
                        </a>
                        <a class="hero__store-button hero__store-button--app" href="#">
                            <img src="src/assets/images/app-store-btn.png" class="hero__store-button-img" alt="App Store">
                        </a>
                    </div>
                </div>
            </div>
            <div class="hero__preview">
                <img class="hero__preview-img" src="src/assets/images/phone-preview-1.png" alt="App Preview">
            </div>
        </div>
    </div>
</section>