<section class="download-app">
    <div class="container-max download-app__content">
        <div class="download-app__left-content">
            <p class="download-app__title">
                Download App Now
            </p>
            <p class="download-app__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra nunc ante
                velit vitae. Est tellus vitae,
                nullam lobortis enim. Faucibus amet etiam tincidunt rhoncus, ullamcorper velit. Ullamcorper risus
                tempor, ac nunc libero urna, feugiat.
            </p>
            <div class="download-app__btns">
                <a class="download-app__btn-link" href="#">
                    <img src="src/assets/images/play-market-btn.png" class="download-app__btn-preview" alt="Play Market">
                </a>
                <a class="download-app__btn-link" href="#">
                    <img src="src/assets/images/app-store-btn.png" class="download-app__btn-preview" alt="App Store">
                </a>
            </div>

            <div class="download-app__ratings">
                <div class="download-app__rating-item">
                    <img class="download-app__rating-icon" src="src/assets/svg-icons/download.svg" alt="">
                    <p class="download-app__rating-title">59865</p>
                    <p class="download-app__rating-text">Download</p>
                </div>
                <div class="download-app__rating-item">
                    <img class="download-app__rating-icon" src="src/assets/svg-icons/thumb-up.svg" alt="">
                    <p class="download-app__rating-title">29852</p>
                    <p class="download-app__rating-text">LIke</p>
                </div>
                <div class="download-app__rating-item">
                    <img class="download-app__rating-icon" src="src/assets/svg-icons/star.svg" alt="">
                    <p class="download-app__rating-title">1500</p>
                    <p class="download-app__rating-text">5 star rating</p>
                </div>
            </div>

        </div>
        <div class="download-app__right-content">
                <img class="download-app_preview" src="src/assets/images/phone-preview-4.png" alt="">


        </div>
    </div>
</section>