<section class="section-how-to-use">
    <div class="how-to-use__video">
        <img src="src/assets/images/how-to-use-video.png" alt="How to use the app" />

    </div>
    <div class="container-max">
        <div class="section-how-to-use__content">
            <p class="section-how-to-use__title">how to use the app perfectly</p>
            <p class="section-how-to-use__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra
                nunc ante velit vitae. Est tellus vitae, nullam lobortis enim. Faucibus amet etiam tincidunt rhoncus,
                ullamcorper velit. Ullamcorper risus tempor, ac nunc libero urna, feugiat.
            </p>
        </div>
    </div>
</section>