<section class="about">
    <div class="container-max">
        <h2 class="about__title">About Our App</h2>
        <p class="about__subtitle">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra nunc ante velit vitae. Est tellus vitae,
            nullam lobortis enim. Faucibus amet etiam tincidunt rhoncus, ullamcorper velit. Ullamcorper risus tempor, ac nunc
            libero urna, feugiat.
        </p>
        <div class="about__content">
            <img class="about__image" src="src/assets/images/phone-preview-3.png" alt="App preview">
            <div class="about__features">
                <div class="about__feature">
                    <div class="about__feature-header">
                        <img class="about__feature-icon" src="src/assets/svg-icons/checkbox-circle.svg" alt="">
                        <span class="about__feature-title">Creative design</span>
                    </div>
                    <p class="about__feature-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra nunc ante velit vitae. Est
                        tellus vitae, nullam lobortis enim. Faucibus amet etiam tincidunt rhoncus, ullamcorper
                        velit.
                    </p>
                </div>
                <div class="about__feature">
                    <div class="about__feature-header">
                        <img class="about__feature-icon" src="src/assets/svg-icons/checkbox-circle.svg" alt="">
                        <span class="about__feature-title">Easy to use</span>
                    </div>
                    <p class="about__feature-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra nunc ante velit vitae. Est
                        tellus vitae, nullam lobortis enim. Faucibus amet etiam tincidunt rhoncus, ullamcorper
                        velit.
                    </p>
                </div>
                <div class="about__feature">
                    <div class="about__feature-header">
                        <img class="about__feature-icon" src="src/assets/svg-icons/checkbox-circle.svg" alt="">
                        <span class="about__feature-title">Best user experience</span>
                    </div>
                    <p class="about__feature-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra nunc ante velit vitae. Est
                        tellus vitae, nullam lobortis enim. Faucibus amet etiam tincidunt rhoncus, ullamcorper
                        velit.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>