<section class="feedback">
    <div class="container-max">
        <div class="feedback__header">
            <p class="feedback__title">
                Our Happy Customers
            </p>
            <p class="feedback__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra nunc ante velit vitae. Est tellus
                vitae,
                nullam lobortis enim. Faucibus amet etiam tincidunt rhoncus, ullamcorper velit. Ullamcorper risus
                tempor, ac
                nunc libero urna, feugiat.
            </p>
        </div>
        <div class="feedback__carousel">
            <div class="feedback__carousel-track">

                <div class="slide">
                    <img class="slide__img" src="src/assets/images/feedback-user-preview.png" alt="">
                    <p class="slide__title">Ann Lubin 1</p>
                    <p class="slide__position">Co-Founder 1</p>
                    <p class="slide__text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra nunc ante velit vitae. Est
                        tellus
                        vitae, nullam lobortis enim. Faucibus amet etiam tincidunt rhoncus, ullamcorper velit.
                        Ullamcorper
                        risus tempor, ac nunc libero urna, feugiat.
                    </p>
                </div>

                <div class="slide">
                    <img class="slide__img" src="src/assets/images/feedback-user-preview.png" alt="">
                    <p class="slide__title">Ann Lubin 2</p>
                    <p class="slide__position">Co-Founder 2</p>
                    <p class="slide__text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra nunc ante velit vitae. Est
                        tellus
                        vitae, nullam lobortis enim. Faucibus amet etiam tincidunt rhoncus, ullamcorper velit.
                        Ullamcorper
                        risus tempor, ac nunc libero urna, feugiat.
                    </p>
                </div>

                <div class="slide">
                    <img class="slide__img" src="src/assets/images/feedback-user-preview.png" alt="">
                    <p class="slide__title">Ann Lubin 3</p>
                    <p class="slide__position">Co-Founder 3</p>
                    <p class="slide__text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra nunc ante velit vitae. Est
                        tellus
                        vitae, nullam lobortis enim. Faucibus amet etiam tincidunt rhoncus, ullamcorper velit.
                        Ullamcorper
                        risus tempor, ac nunc libero urna, feugiat.
                    </p>
                </div>

                <div class="slide">
                    <img class="slide__img" src="src/assets/images/feedback-user-preview.png" alt="">
                    <p class="slide__title">Ann Lubin 4</p>
                    <p class="slide__position">Co-Founder 4</p>
                    <p class="slide__text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra nunc ante velit vitae. Est
                        tellus
                        vitae, nullam lobortis enim. Faucibus amet etiam tincidunt rhoncus, ullamcorper velit.
                        Ullamcorper
                        risus tempor, ac nunc libero urna, feugiat.
                    </p>
                </div>

                <div class="slide">
                    <img class="slide__img" src="src/assets/images/feedback-user-preview.png" alt="">
                    <p class="slide__title">Ann Lubin 5</p>
                    <p class="slide__position">Co-Founder 5</p>
                    <p class="slide__text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra nunc ante velit vitae. Est
                        tellus
                        vitae, nullam lobortis enim. Faucibus amet etiam tincidunt rhoncus, ullamcorper velit.
                        Ullamcorper
                        risus tempor, ac nunc libero urna, feugiat.
                    </p>
                </div>

            </div>
        </div>
    </div>

</section>