<footer class="footer">
  <div class="contacts">
    <div class="contact-item contact-item-mail">
      <div class="contact-item-icon-wrapper">
        <img class="contact-item-icon" src="src/assets/svg-icons/mail.svg">
      </div>
      <p class="contact-title">info.design@gmail.com</p>
    </div>
    <div class="contact-item">
      <div class="contact-item-icon-wrapper">
        <img class="contact-item-icon" src="src/assets/svg-icons/phone.svg">
      </div>
      <p class="contact-title">+880 321 655 9985</p>
    </div>
  </div>
  <div class="footer-content-container container-max">
    <div class="footer__logo">
      <p class="footer__title">Logo</p>
      <p class="footer__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra nunc ante velit vitae. Est tellus vitae, nullam
        lobortis enim.
      </p>
      <div class="social-links">
        <a class="social-link" href="#">
          <img src="src/assets/svg-icons/facebook.svg" alt="">
        </a>

        <a class="social-link" href="#">
          <img src="src/assets/svg-icons/instagram.svg" alt="">
        </a>

        <a class="social-link" href="#">
          <img src="src/assets/svg-icons/twitter.svg" alt="">
        </a>

        <a class="social-link" href="#">
          <img src="src/assets/svg-icons/youtube.svg" alt="">
        </a>
      </div>
    </div>
    <div class="quick-links">
      <p class="quick-link-title">quick link</p>
      <ul class="quick-links-list">
        <li class="quick-link-item"><a href="#">About</a></li>
        <li class="quick-link-item"><a href="#">Features</a></li>
        <li class="quick-link-item"><a href="#">Screenshot</a></li>
        <li class="quick-link-item"><a href="#">Blog</a></li>
      </ul>
    </div>
    <div class="news-letter">
      <p class="newsletter-title">News letter</p>
      <p class="newsletter-text">Subscribe our newsletter to get our latest update & news</p>
      <form class="newsletter-form">
        <input type="email" class="newsletter-input" placeholder="Your email address">
        <button type="submit" class="newsletter-button">
          <img src="src/assets/svg-icons/send-plane.svg">
        </button>
      </form>
    </div>
  </div>
  <p class="footer__copyright">
    Copyright 2021 .Ojjomedia. All Right Reserved.
  </p>
</footer>