<section class="blog">
    <div class="container-max">
        <div class="blog__title">
            <p class="blog__title-text">Our recent blog</p>
            <p class="blog__title-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra nunc ante velit vitae. Est tellus
                vitae, nullam lobortis enim. Faucibus amet etiam tincidunt rhoncus, ullamcorper velit. Ullamcorper risus
                tempor, ac nunc libero urna, feugiat.
            </p>
        </div>
        <div class="blog__articles">
            <div class="blog__article">
                <div class="blog__article-image">
                    <img src="src/assets/images/article-preview-1.png" alt="Blog 1">
                </div>
                <div class="blog__article-content">
                    <p class="blog__article-title">The Snap Pixel: How It Works and How to Install</p>
                    <p class="blog__article-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra nunc ante velit vitae. Est tellus vitae, nullam lobortis enim.</p>
                    <a href="#" class="blog__article-link">Read more</a>
                </div>
            </div>
            <div class="blog__article">
                <div class="blog__article-image">
                    <img src="src/assets/images/article-preview-2.png" alt="Blog 2">
                </div>
                <div class="blog__article-content">
                    <p class="blog__article-title">Global Partner Solutions: A Partnership of Innovation</p>
                    <p class="blog__article-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra nunc ante velit vitae. Est tellus vitae, nullam lobortis enim.</p>
                    <a href="#" class="blog__article-link">Read more</a>
                </div>

            </div>
            <div class="blog__article">
                <div class="blog__article-image">
                    <img src="src/assets/images/article-preview-3.png" alt="Blog 3">
                </div>
                <div class="blog__article-content">
                    <p class="blog__article-title">2021: An opportunity for Snapchatters to start fresh</p>
                    <p class="blog__article-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra nunc ante velit vitae. Est tellus vitae, nullam lobortis enim.</p>
                    <a href="#" class="blog__article-link">Read more</a>
                </div>

            </div>
        </div>
    </div>
</section>