<section class="features">
    <div class="container-max">
        <div class="features__title">
            <p class="features__heading">App features</p>
            <p class="features__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra nunc ante velit vitae. Est tellus
                vitae, nullam lobortis enim. Faucibus amet etiam tincidunt rhoncus, ullamcorper velit. Ullamcorper risus
                tempor, ac nunc libero urna, feugiat.
            </p>
        </div>
        <div class="features__subtitle">
            <img class="features__subheading-img" src="src/assets/svg-icons/comment.svg"/>
            <p class="features__subheading-title">Full free chat</p>
            <p class="features__subheading-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
        </div>
        <div class="features__content">
            <div class="features__left-content">
                <div class="feature__item">
                    <img class="feature__item-icon" src="src/assets/svg-icons/gift.svg" alt="">
                    <p class="feature__item-title">unlimiter features</p>
                    <p class="feature__item-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>
                </div>
                <div class="feature__item">
                    <img class="feature__item-icon" src="src/assets/svg-icons/vector.svg" alt="">
                    <p class="feature__item-title">awsome ui design</p>
                    <p class="feature__item-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>
                </div>
            </div>
            <div class="features__center-content">
                <img class="feature__preview-img" src="src/assets/images/phone-preview-2.png" alt="">
            </div>
            <div class="features__right-content">
                <div class="feature__item">
                    <img class="feature__item-icon" src="src/assets/svg-icons/cell-phone.svg" alt="">
                    <p class="feature__item-title">unlimiter features</p>
                    <p class="feature__item-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>
                </div>
                <div class="feature__item">
                    <img class="feature__item-icon" src="src/assets/svg-icons/eye-scanner.svg" alt="">
                    <p class="feature__item-title">awsome ui design</p>
                    <p class="feature__item-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>
                </div>
            </div>
        </div>
        <div class="features__footer">
            <img class="features__footer-img" src="src/assets/svg-icons/telemarketer.svg" alt="">
            <p class="features__footer-title">
                24/7 support by real pepole.
            </p>
            <p class="features__footer-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
        </div>
    </div>

</section>